Repository komei0727/all_in_one: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --file, prettier --write

chore: migrate from Tailwind CSS v3 to v4
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/auth/login/page.tsx
  src/app/globals.css
  src/app/profile/page.tsx
  src/modules/ingredients/client/components/ingredients-list-controls.tsx
  src/modules/shared/client/components/ui/calendar.tsx
  src/modules/shared/client/components/ui/card.tsx
  src/modules/shared/client/components/ui/input.tsx
  src/modules/shared/client/components/ui/select.tsx
  src/modules/shared/client/components/ui/textarea.tsx
  src/modules/shared/client/components/ui/toast.tsx
  src/styles/globals.css
  tailwind.config.ts.bak
Due: next lint --fix --file, prettier --write

chore: migrate from Tailwind CSS v3 to v4 (#63)
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/auth/login/page.tsx
  src/app/globals.css
  src/app/profile/page.tsx
  src/modules/ingredients/client/components/ingredients-list-controls.tsx
  src/modules/shared/client/components/ui/calendar.tsx
  src/modules/shared/client/components/ui/card.tsx
  src/modules/shared/client/components/ui/input.tsx
  src/modules/shared/client/components/ui/select.tsx
  src/modules/shared/client/components/ui/textarea.tsx
  src/modules/shared/client/components/ui/toast.tsx
  src/styles/globals.css
  tailwind.config.ts.bak
Due: next lint --fix --file, prettier --write

chore: Vercel/Supabaseデプロイ環境の構築と設定
  .env.production.example
  .env.staging.example
  .gitignore
  .vercelignore
  auth.config.ts
  auth.ts
  docs/deployment/EMAIL_SETUP.md
  docs/deployment/NEXTAUTH_DEPLOYMENT.md
  docs/deployment/SUPABASE_MIGRATION.md
  docs/deployment/VERCEL_DEPLOYMENT.md
  next.config.mjs
  package.json
  prisma/migrations/20250627075807_init/migration.sql
  prisma/schema.prisma
  src/app/layout.tsx
  src/lib/env.ts
  src/lib/prisma.ts
  src/lib/prisma/client.ts
  vercel.json
Due: next lint --fix --file, prettier --write

fix: 型エラーの修正
  auth.config.ts
  auth.ts
  src/modules/ingredients/server/infrastructure/composition-root.ts
  src/modules/shared/server/database/index.ts
  tests/unit/modules/ingredients/server/infrastructure/repositories/prisma-category-repository.test.ts
  tests/unit/modules/ingredients/server/infrastructure/repositories/prisma-unit-repository.test.ts
Due: next lint --fix --file, prettier --write

fix: lintエラーとフォーマットの修正
  auth.config.ts
  docs/deployment/EMAIL_SETUP.md
  docs/deployment/NEXTAUTH_DEPLOYMENT.md
  docs/deployment/SUPABASE_MIGRATION.md
  docs/deployment/VERCEL_DEPLOYMENT.md
  next.config.mjs
  src/app/layout.tsx
  src/lib/env.ts
  src/lib/prisma.ts
  vercel.json
Due: next lint --fix --file, prettier --write

fix: e2eテストを削除
  .github/workflows/main.yml
  .github/workflows/pr.yml
  package.json
  tests/e2e/api/v1/ingredients/categories.e2e.test.ts
Due: next lint --fix --file, prettier --write

fix: ローカル認証設定
  auth.config.ts
Due: next lint --fix --file, prettier --write

Vercel/Supabaseデプロイ環境の構築 (#64)
  .env.production.example
  .env.staging.example
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .gitignore
  .vercelignore
  auth.config.ts
  auth.ts
  docs/deployment/EMAIL_SETUP.md
  docs/deployment/NEXTAUTH_DEPLOYMENT.md
  docs/deployment/SUPABASE_MIGRATION.md
  docs/deployment/VERCEL_DEPLOYMENT.md
  next.config.mjs
  package.json
  prisma/migrations/20250627075807_init/migration.sql
  prisma/schema.prisma
  src/app/layout.tsx
  src/lib/env.ts
  src/lib/prisma.ts
  src/lib/prisma/client.ts
  src/modules/ingredients/server/infrastructure/composition-root.ts
  src/modules/shared/server/database/index.ts
  tests/e2e/api/v1/ingredients/categories.e2e.test.ts
  tests/unit/modules/ingredients/server/infrastructure/repositories/prisma-category-repository.test.ts
  tests/unit/modules/ingredients/server/infrastructure/repositories/prisma-unit-repository.test.ts
  vercel.json
Due: next lint --fix --file, prettier --write

chore: update CI/CD workflows for new branch strategy
  .github/workflows/deploy-branch.yml
  .github/workflows/deploy-to-main-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/production-deploy.yml
Due: prettier --write

fix: format
  .github/workflows/deploy-branch.yml
  .github/workflows/deploy-to-main-pr.yml
  .github/workflows/production-deploy.yml
  vercel.json
Due: prettier --write

CI/CD: 新しいブランチ戦略に対応したワークフロー更新 (#65)
  .github/workflows/deploy-branch.yml
  .github/workflows/deploy-to-main-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/production-deploy.yml
  vercel.json
Due: prettier --write

docs: refine context map
  docs/api/endpoints/ingredients.md
  docs/database/contexts/ingredient-management.md
  docs/deployment/SUPABASE_MIGRATION.md
  docs/domain/contexts/ingredient-management/README.md
  docs/domain/contexts/ingredient-management/aggregates.md
  docs/domain/contexts/ingredient-management/application-services.md
  docs/domain/contexts/ingredient-management/domain-events.md
  docs/domain/contexts/ingredient-management/domain-model.md
  docs/domain/contexts/ingredient-management/repositories.md
  docs/domain/contexts/ingredient-management/sudo-modeling.md
  docs/domain/overview/context-map.md
  docs/screens/auth-flow.md
  docs/screens/dashboard.md
  docs/screens/ingredient-detail.md
  docs/screens/ingredient-form.md
  docs/screens/ingredients-list.md
  docs/screens/pc-layout.md
  docs/screens/shopping-mode.md
Due: prettier --write

feat: update db schema
  prisma/migrations/20250628143923_add_shopping_support/migration.sql
  prisma/schema.prisma
  prisma/schema.test.prisma
  prisma/seed.ts
  src/modules/ingredients/server/infrastructure/repositories/prisma-ingredient-repository.ts
  tests/helpers/database.helper.ts
  tests/integration/modules/ingredients/server/api/routes/create-ingredient.route.integration.test.ts
  tests/integration/modules/ingredients/server/application/commands/create-ingredient-handler.integration.test.ts
  tests/integration/modules/ingredients/server/infrastructure/repositories/prisma-ingredient-repository.integration.test.ts
Due: next lint --fix --file, prettier --write

fix: バックアップファイル削除
  .eslintrc.json.bak
Due: none

test: fix flaky test in ExpiryInfo equals comparison
  tests/unit/modules/ingredients/server/domain/value-objects/expiry-info.vo.test.ts
Due: next lint --fix --file, prettier --write

feat: 買い物サポート機能のためのデータベーススキーマ更新 (#82)
  .eslintrc.json.bak
  docs/api/endpoints/ingredients.md
  docs/database/contexts/ingredient-management.md
  docs/deployment/SUPABASE_MIGRATION.md
  docs/domain/contexts/ingredient-management/README.md
  docs/domain/contexts/ingredient-management/aggregates.md
  docs/domain/contexts/ingredient-management/application-services.md
  docs/domain/contexts/ingredient-management/domain-events.md
  docs/domain/contexts/ingredient-management/domain-model.md
  docs/domain/contexts/ingredient-management/repositories.md
  docs/domain/contexts/ingredient-management/sudo-modeling.md
  docs/domain/overview/context-map.md
  docs/screens/auth-flow.md
  docs/screens/dashboard.md
  docs/screens/ingredient-detail.md
  docs/screens/ingredient-form.md
  docs/screens/ingredients-list.md
  docs/screens/pc-layout.md
  docs/screens/shopping-mode.md
  prisma/migrations/20250628143923_add_shopping_support/migration.sql
  prisma/schema.prisma
  prisma/schema.test.prisma
  prisma/seed.ts
  src/modules/ingredients/server/infrastructure/repositories/prisma-ingredient-repository.ts
  tests/helpers/database.helper.ts
  tests/integration/modules/ingredients/server/api/routes/create-ingredient.route.integration.test.ts
  tests/integration/modules/ingredients/server/application/commands/create-ingredient-handler.integration.test.ts
  tests/integration/modules/ingredients/server/infrastructure/repositories/prisma-ingredient-repository.integration.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/expiry-info.vo.test.ts
Due: next lint --fix --file, prettier --write

feat: add health check endpoint for Vercel deployment monitoring
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  src/app/api/health/route.ts
  tests/unit/app/api/health/route.test.ts
  tests/unit/modules/ingredients/server/application/queries/get-ingredients.handler.test.ts
Due: next lint --fix --file, prettier --write

fix: format
  tests/unit/app/api/health/route.test.ts
Due: next lint --fix --file, prettier --write

feat: Vercelデプロイ監視用ヘルスチェックエンドポイント追加 (#83)
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  src/app/api/health/route.ts
  tests/unit/app/api/health/route.test.ts
  tests/unit/modules/ingredients/server/application/queries/get-ingredients.handler.test.ts
Due: next lint --fix --file, prettier --write

fix: health check path
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
Due: prettier --write

fix: health check path (#84)
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
Due: prettier --write

fix: replace patrickedqvist/wait-for-vercel-preview with custom health check
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  src/app/api/health/route.ts
  tests/unit/app/api/health/route.test.ts
Due: next lint --fix --file, prettier --write

fix: テストで環境により異なるhost headerの値に対応
  tests/unit/app/api/health/route.test.ts
Due: next lint --fix --file, prettier --write

refactor: ヘルスチェックを最低限の出力に簡素化
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  src/app/api/health/route.ts
  tests/unit/app/api/health/route.test.ts
Due: next lint --fix --file, prettier --write

fix: patrickedqvist/wait-for-vercel-previewをカスタムヘルスチェックに置き換え (#85)
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
Due: prettier --write

fix: GitHub Actionsヘルスチェックの401エラー対策
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  vercel.json
Due: prettier --write

refactor: ヘルスチェックを削除してシンプルな待機処理に変更
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
  vercel.json
Due: prettier --write

refactor: ヘルスチェックを削除してシンプルな待機処理に変更 (#86)
  .github/workflows/deploy-branch.yml
  .github/workflows/production-deploy.yml
Due: prettier --write

feat: 買い物サポート機能の値オブジェクト実装
  src/modules/ingredients/server/domain/value-objects/checked-item.vo.ts
  src/modules/ingredients/server/domain/value-objects/expiry-status.vo.ts
  src/modules/ingredients/server/domain/value-objects/session-status.vo.ts
  src/modules/ingredients/server/domain/value-objects/shopping-session-id.vo.ts
  src/modules/ingredients/server/domain/value-objects/stock-status.vo.ts
  tests/unit/modules/ingredients/server/domain/value-objects/checked-item.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/expiry-status.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/session-status.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/shopping-session-id.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/stock-status.vo.test.ts
Due: next lint --fix --file, prettier --write

fix: ユーザーテストデータビルダーの日付生成ロジックを修正
  tests/__fixtures__/builders/user-authentication/user.builder.ts
Due: next lint --fix --file, prettier --write

feat: 買い物サポート機能の値オブジェクト実装 (#87)
  src/modules/ingredients/server/domain/value-objects/checked-item.vo.ts
  src/modules/ingredients/server/domain/value-objects/expiry-status.vo.ts
  src/modules/ingredients/server/domain/value-objects/session-status.vo.ts
  src/modules/ingredients/server/domain/value-objects/shopping-session-id.vo.ts
  src/modules/ingredients/server/domain/value-objects/stock-status.vo.ts
  tests/__fixtures__/builders/user-authentication/user.builder.ts
  tests/unit/modules/ingredients/server/domain/value-objects/checked-item.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/expiry-status.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/session-status.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/shopping-session-id.vo.test.ts
  tests/unit/modules/ingredients/server/domain/value-objects/stock-status.vo.test.ts
Due: next lint --fix --file, prettier --write

fix: クライアント・サーバー間の整合性エラーを修正
  auth.ts
  src/app/layout.tsx
  src/lib/server/env-validation.ts
  src/modules/ingredients/client/components/create-ingredient-form.tsx
  src/modules/ingredients/server/api/handlers/queries/get-ingredients.handler.ts
Due: next lint --fix --file, prettier --write

test: 統合テストでのランダム生成による食材名重複を修正
  tests/integration/modules/ingredients/server/application/commands/create-ingredient-handler.integration.test.ts
Due: next lint --fix --file, prettier --write

fix: ビルド時の環境変数エラーを修正
  auth.ts
  src/lib/env.ts
  src/lib/server/env-validation.ts
Due: next lint --fix --file, prettier --write

Path conditions:
  next lint --fix --file: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
